# Python
__pycache__/
*.pyc
*.egg*
__init__.py
*.python-version

# data
data/*
dvc-local
# Environment variable
.env
# model
models/*

# mlflows
mlruns/*
mlflow*

# archive
archive/
reports/
tmp/
#study/
prompts/*
spyder/

# log
log/*
payload.json
bench_results.md

# vscode
.vscode/*
